.navDiv {
    position: relative;
}

.navButton {
    font-family: 'Epilogue', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: hsl(0, 0%, 41%);
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.navButton:hover {
    color: hsl(0, 0%, 8%);
    font-weight: 700;
}

.navButton:active {
    color: hsl(0, 0%, 60%);
}

.showArrow {
    opacity: 1;
    position: static;
}

.hideArrow {
    opacity: 0;
    position: absolute;
}

.menu {
    background-color: white;
    position: absolute;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 15px;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow:
      0 1px 1px hsl(0deg 0% 0% / 0.075),
      0 2px 2px hsl(0deg 0% 0% / 0.075),
      0 4px 4px hsl(0deg 0% 0% / 0.075),
      0 8px 8px hsl(0deg 0% 0% / 0.075),
      0 16px 16px hsl(0deg 0% 0% / 0.075)
    ;
    pointer-events: none;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 200ms ease-in-out, transform 200ms ease-in-out;
}

.active {
    pointer-events: all;
    opacity: 1;
    transform: translateY(0);
}

.hidden {
    pointer-events: none;
    opacity: 0;
    transform: translateY(-20px);
}

.pushLeft {
    margin-left: -3.5rem;
}

.menuItem {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    /* min-width: 4rem; */
}

.menuItem:hover {
    color: hsl(0, 0%, 8%);
    font-weight: 700;
}

.menuItem:active {
    color: hsl(0, 0%, 60%);
}

.menuSide {
    position: absolute;
    color: hsl(0, 0%, 8%);
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem 1.5rem 0;
    pointer-events: none;
    opacity: 0;
}

.activeSide {
    position: static;
    pointer-events: all;
    opacity: 1;
}