.header {
    position: relative;
    height: 80px;
    font-family: 'Epilogue', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: hsl(0, 0%, 41%);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 2rem;
    gap: 4rem;
}

.logoImg {
    cursor: pointer;
    margin-top: 0.5rem;
}

@media (769px <= width <= 1024px) {
    .header {
        gap: 2rem;
        padding: 1rem;
    }
}

@media (width <= 768px) {
    .header {
        padding: 1rem;
    }
}